{% extends 'base.html' %} 
{% block content %} 
<h4>About</h4>
Questo applicativo web è stato realizzato nel mese di Marzo dell'anno 2022, dall'ULSS9 Scaligera con la collaborazione di Sarah Franceschin.
<br>Nel Aprile dell'anno 2025 è stato modificato per il lavoro di tesi della studentessa Chiara Beverari, a seguito di un tirocinio presso la stessa ULSS 9. 

<h4>Informazioni di contatto</h4>
Per informazioni contattare uno dei seguenti:
<ul>
    <li>
        <b>Sarah Franceschin:</b> sarahfranceschin@gmail.com <br> 
        Tirocinante dell'Università di Padova, corso di Bioingegneria.

    </li>
    <li> 
        <b>Chiara Beverari:</b> chiarabeverari@gmail.com <br>
        Tesista dell'Università di Padova, corso di Bioingegneria.
    </li>
    <li>
        <b>Maurizio Casarotto:</b> maurizio.casarotto@aulss9.veneto.it<br>
        Direttore di Ingegneria Clinica dell'ULSS9 Scaligera.
    </li>
  
</ul>
{% endblock %}