{% extends 'base.html' %}
{% block content %} 
{% if user.is_authenticated %}

<h4> NUOVA RICHIESTA URGENTE: </h4>

<ul class="nav flex-column">
    <li class="nav-item">
      Procedi Scaricando il modulo <a class="btn btn-sm btn-success" href="{% url 'download_offline' %}">Scarica</a>
    </li>
    <ul>
        
          Scaricando il modulo, l'utente si impegna ad eseguire correttamente le istruzioni: <b>caricarlo nuovamente sul sito solamente quando si vuole confermare la richiesta. </b>
          <br> Se hai già scaricato il modulo, caricalo qui: <form method="POST" enctype ="multipart/form-data">{% csrf_token %} {{form}} <input type="submit" name="Carica">  </form>    
    </ul>
    <br> <b>OPPURE </b>
    <li class="nav-item">
      <a class="btn btn-sm btn-success" href="{% url 'new_urgente' %}">Procedi online</a>
    </li>
  </ul>

<br>
{% endif %}
{% endblock %}