{% extends 'base.html' %}
{% block content %} 
{% if user.is_authenticated %}

<a href="{% url 'new_urg_2_4' att.id %}" class="btn btn-warning">Indietro</a>
<a href="{% url 'new_urg_4e3' att.id %}" class="btn btn-primary">Avanti</a>

<center><h2><b> 4.2 Unicità delle caratteristiche </b> </h2>
    <br>
    <h3>di {{ att.Apparecchiatura }}</h3>
</center>

<div class="center" style="position:relative;">
    <table class="table table-success table-striped">
        <form method ="POST">
          {% csrf_token %}
          {{unformset.management_form}}
          <tbody>
          <thead>
            <tr>
                <th>Rif.</th>
                <th>Specifica</th>
                <th>m/M</th>
                <th>Unicità</th>
            </tr>
          </thead>
            {% for spec,form in insieme %}
            <tr>
            <td>{{spec.rif}}</td>
            <td>{{spec.Specifica}}</td>  
            <td>{% if spec.Min %} m {% else %} M {% endif %}</a></td>
            <td>{{form.Un}} {{form.id}}</td>
            </tr>
            {% endfor %}
            <tr><td colspan=4><input type="submit" name="Uni"></td></tr>
        </tbody>
        
      </form>
    </table>
  </div>
  
  <hr>
  <div>
    <form method="POST">
      {% csrf_token %}  {{unform.Simili}} Alcune caratteristiche riportate nell'elenco individuano una apparecchiatura o sistema; in particolare si dichiara che non esistono sul mercato attrezzature simili idonee ad assolvere la funzione indicata.
      <!-- {{unform.NoteGen}} -->
      <input type="submit" name="Simili">
    </form>
  </div>
  <hr>
  <div>
  <table>
  <form method="POST" action="">
      {% csrf_token %}
      <tr><td><h4>Inserisci le unicità delle caratteristiche.</h4>
        {{form.ID_rich.as_hidden}}
        RIFERIMENTO SPECIFICA: {{ form.rifext }}
        <br>
        NOTA: {{ form.Nota }}</td></tr>
  
      <tr><td><input type="submit" name="Aggiungi"></td></tr>
  </form>
  </table>
  </div>
  <br>
  <table class="table table-success table-striped">
      <tbody>
      <thead>
        <tr>
            <th>Rif.</th>
            <th>Nota</th>
            <th>Rimuovi</th>
        </tr>
      </thead>

        {% for un in uns %}
        <tr>
        <td>{{un.rifext}}</td>
        <td>{{un.Nota}}</td> 
        <td><a class="btn btn-sm btn-info" href="{% url 'deleteunicitaurg' un.id %}">Rimuovi</a></td>  
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div> 


{%endif%}
{% endblock %}