{% extends 'base.html' %} 
{% block content %} 
{% if user.is_authenticated %}

<div style="font-size: 20px">
    <table class="table table-striped table-bordered border-dark" style="background-color: rgb(133, 187, 252)">
        <tr>
            <th style=" border-right:0" width="400px">Sede - Reparto - SubReparto </th>
            <td style="border-left: 0; " >{{att.Sede_Reparto}}</td>
        </tr>
        <tr>
             <th style="border-right: 0; ">Compilatore</th>
             <td style="border-left: 0; ">{{att.Compilatore}}</td>
        </tr>

        <tr>
         <th style="border-right: 0; ">Quantità</th> 
        <td style="border-left: 0; ">{{att.Qta}}</td>
        </tr>
        <tr>
            <th style="border-right: 0; ">Apparecchiatura</th>
            <td style="border-left: 0; ">{{att.Apparecchiatura}}</td>
        </tr>
        <tr>
             <th style="border-right: 0; ">Motivo per cui è richiesta l'attrezzatura</th>
             <td style="border-left: 0; "> {% if att.Mot1_1 %}
                 Sostituzione di analoga dismessa o in dismissione: {{att.SostNota}}<br>
                 {% endif %}
                 {% if att.Mot1_2 %}
                 Implementazione/Aggiornamento di Attrezzatura/Sistema<br>
                 {% endif %}
                 {% if att.Mot1_3 %}
                 Inizio nuova attività<br>
                 {% endif %}
             </td>
        </tr> 
        <tr>
            <th style="border-right: 0; ">Necessità di infrastrutture particolari?</th>
            <td style="border-left: 0; ">{% if att.NecInfraSI %} SI, in particolare: {{att.NecInfraNota}} {% endif %} {% if att.NecInfraNO %} NO {% endif %}</td>
        </tr>
        
    <tr>
         <th style="border-right: 0; "> Stato: </th>
         <td style="border-left: 0; ">{{att.StatoRic}} </td>
     </tr>
     <tr>
         <th style="border-right: 0; ">Direttore </th>
         <td style="border-left: 0; ">{{att.primario_utente}}</td>
     </tr>
     <tr>
         <th style="border-right: 0; ">DIR MEDICA: </th>
         <td style="border-left: 0; ">{{att.dir_medica_utente}}</td>
     </tr>
     <tr>
        <th style="border-right: 0; ">Ing.Clinico: </th>
        <td style="border-left: 0; ">{{att.ing_clinico_utente}}</td>
    </tr>


    <tr>
         <th style="border-right: 0; "> Motivi per cui si richiede l'implementazione/aggiornamento di attrezzatura/sistema</th>
         <td style="border-left: 0; ">
         {% if att.Mot2_1 %} 
             Mantenimento/Recupero delle prestazioni e/o della sicurezza<br>
         {% endif %} 
         {% if att.Mot2_2 %} 
             Aumento/miglioramento delle prestazioni</br>
         {% endif %}
         </td>
     </tr>
 </div>
 </table>
 
    <br> 
    <hr>
     <div class="center2">
         <h5><b>Specifiche inserite</b></h5> 
         <table class="table table-striped table-bordered border-dark" style="background-color: rgb(133, 187, 252)">
             <tbody>
                 <tr style="background-color: rgb(56, 56, 250);">
                     <th style=" color: white; ">Rif.</th>
                     <th style=" color: white; ">Specifica</th>
                     <th style=" color: white; ">Motivo Clinico</th>
                     <th style=" color: white; ">m/M</th>
                     
                 </tr>
                 {% for spec in specs %}
                 <tr>
                 <td>{{spec.rif}}</td>
                 <td>{{spec.Specifica}}</td>
                 <td>{{spec.MotivoClinico}}</td>
                 <td>{% if spec.Min %} m {% else %} M {% endif %}</td>
                 {%endfor%}
             </tbody>
         </table>
     </div>
 
    <br> 
    <hr>
     <div class="center2">
         <h5><b> Unicità delle caratteristiche</b></h5>
             <table class="table table-striped table-bordered border-dark" style="background-color: rgb(133, 187, 252)">
                 <tbody>
                 <theader>
                     <tr style="background-color: rgb(56, 56, 250);">
                         <th style=" color: white; ">Rif.</th>
                         <th style=" color: white; ">Nota</th>
                        
                     
                     </tr>
                 </theader>
                     {% for un in uns %}
                     <tr>
                     <td>{{un.rifext}}</td>
                     <td>{{un.Nota}}</td>   
                 
                     </tr>
                     {% endfor %}
                 </tbody>
             </table>
         </div>
  
    <br> 
 <hr>
 <div class="center2">
     <h5><b> Criterio di Valutazione Qualità </b></h5>
         <table class="table table-striped table-bordered border-dark" style="background-color: rgb(133, 187, 252)">
             <tbody>
                 <tr style="background-color: rgb(56, 56, 250);">
                     <th style=" color: white;">Rif.</th>
                     <th style=" color: white;">Criterio</th>
                     <th style=" color: white;">Peso</th>
                 </tr>
                 {% for cr in crs %}
                 <tr>
                 <td>{{cr.Rif}}</td>
                 <td>{{cr.Criterio}}</td>
                 <td>{{cr.Peso}}</td>  
                 </tr>
                 {% endfor %}
             </tbody>
         </table>
 </div>
 <br>
 <hr>
 <div class="center2">
     <h5><b> Consumabili particolarmente onerosi </b></h5>
     <table class="table table-striped table-bordered border-dark" style="background-color: rgb(133, 187, 252)">
         <tbody>
             <tr style="background-color: rgb(56, 56, 250);">
                 <th style=" color: white;">Tipo di consumabile</th>
                 <th style=" color: white;">Costo Unitario (Euro)</th>
                 <th style=" color: white;">Consumo Medio (Unità)</th>
                 <th style=" color: white;">Totale (Euro)</th>
             </tr>
             {% for con in cons %}
             <tr>
             <td>{{con.Tipo}}</td>
             <td>{{con.CostoUnitario}}</td>
             <td>{{con.ConsumoMedio}}</td>
             <td>{{con.Totale}}</td>  
             </tr>
             {% endfor %}
         </tbody>
     </table>
 </div>
 <br> 
    <b> Acquisto o Service o Noleggio</b>: 
    {% if att.Acquisto %} 
         Acquisto <br>
         PREZZO IVA ESCLUSA: {{att.Prezzo_acquisto}}<br>
         % IVA INDICATA: {{att.PercIVA}}
     {% elif att.Noleggio %} 
          Noleggio<br>
          PREZZO IVA ESCLUSA: {{att.Prezzo_Noleggio}} <br>
          % IVA INDICATA: {{att.PercIVA}}<br>
          PER MESI: {{att.NolMesi}}<br>

          Motivo per Noleggio: 
          <ul>
          {% if att.Tecnologico %}
          <li>Tecnologico</li>
          {% endif %}
          {% if att.Valutativo %} 
          <li>Valutativo</li>
          {% endif %}
          {% if att.Temporaneo %} 
          <li>Temporaneo</li>
          {% endif %}
          {% if att.Economico %} 
          <li>Economico</li>
          {% endif %} 
          {% if att.Gestionale %} 
          <li>Gestionale</li>
          {% endif %} 
         </ul>   
         NOTE: {{att.NotaNoleggio}}
     {% elif att.Service %} 
         Service<br>
         PREZZO: {{att.Prezzo_Service}} <br>
         % IVA INDICATA: {{att.PercIVA}}<br>
         PER MESI: {{att.NolMesi}}<br>
         Motivo per Service: 
         <ul>
         {% if att.Tecnologico %}
         <li>Tecnologico</li>
         {% endif %}
         {% if att.Valutativo %} 
         <li>Valutativo</li>
         {% endif %}
         {% if att.Temporaneo %} 
         <li>Temporaneo</li>
         {% endif %}
         {% if att.Economico %} 
         <li>Economico</li>
         {% endif %} 
         {% if att.Gestionale %} 
         <li>Gestionale</li>
         {% endif %} 
        </ul>  
        NOTE: {{att.NotaNoleggio}}
     {% endif %}
    <br> 
 <br>
     </div>
     <hr>

<h4> Riepilogo Date </h4>
<table class="table">

    <tr>
        <th>Data inserimento richiesta</th>
        <td>{{att.Data}}</td>
    </tr>
   
 
    <tr>
        <th>Data valutazione Direttore</th>
        <td>{{att.primario_data|date:"d/m/Y H:i"}}</td>
    </tr>

    
    <tr>
        <th>Data valutazione Direzione medica</th>
        <td>{{att.dir_medica_data|date:"d/m/Y H:i"}}</td>
    </tr>

    <tr>
        <th>Data valutazione Ing. clinica</th>
        <td>{{att.ing_clinico_data|date:"d/m/Y H:i"}}</td>
    </tr>
  
    <tr>
        <th>Data di Spedizione al Provveditorato</th>
            
        <td>{{att.Data3}}</td>
    </tr>
   
    <tr>
        <th>Data Avvio Gara</th>
        <td>{{att.Data4}}</td>
    </tr>
   
    <tr>
        <th>Data Valutazione Offerte</th>
        <td>{{att.Data5}}</td>
    </tr>

    <tr>
        <th>Data di Aggiudicazione</th>
        <td>{{att.Data6}}</td>
    </tr>

    <tr>
        <th>Data di Acquisizione</th>
        <td>{{att.Data7}}</td>
    </tr>

    <tr>
        <th>Data Collaudo</th>
        <td>{{att.Data8}}</td>
    </tr>

    <tr>
        <th>Data di Sospensione/Annullamento</th>
        <td>{{att.Data9}}</td>
        <th>Motivo di annullamento</th>
        <td>{{att.MotivoAnnullamento}}</td>
    </tr> 
            
</table>
<br><br>
<hr>
<hr>
<a class="btn btn-primary" href="{% url 'modifica_stato_richiesta' att.id modello %}?{{request.GET.urlencode}}">PROCEDI</a>

{%endif%}
{% endblock %}